/* .topSection{

} */
.headerSection{
    justify-content: space-between;
}
h1{
    font-size: 25px;
    color: #00CED1;
    font-weight: 700;
}
p{
    font-size: 15px;
    color: #40E0D0;
    font-weight: 500;
}
.searchBar{
    padding: 1rem 2rem;
    background: #FFFFFF;
    border-radius: 5px;
    gap: 1rem;
    box-shadow: 0 2px 4px #FFFFFF;
}
input{
    border: none;
    outline: none;
    background: none;
}
.icon{
    color: #B8B8B8;
    font-size: 200%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px #40E0D0;
    color:white;
}
.icon{
    color: #494747;
    cursor: pointer;
}
/* :hover.icon{
    color: #494747;
    cursor: pointer;
} */
.admin{
    gap: 1rem;
}
.adminImage{
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    width: 2.5rem;
    overflow: hidden;
    box-shadow: 0 2px 4px #cceeeb;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.cardSection{
    margin-top: 3rem;
    gap: 1rem;
}
.rightCard{
    position: relative;
    flex-basis: 70%;
    height: 250px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
.videoDiv{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardSection h1,p, .btn{
    z-index: 100;
}
.cardSection h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
}
p{
    padding: 1rem;
    color: white;
    font-weight: 500;
}
.buttons{
    gap: 1rem;
}
.btn{
    box-shadow: none;
    padding: .8rem 1.5rem;
    border-radius: 2px solid transparent;
}
.transparent{
    background: none;
    border: 2px solid #484863;
}
:hover .transparent{
    background: #3f4661;
    color: #0a0a0a;
}
